/*
!/.gitignore

!/.config
/.config/*

!/.config/nixpkgs

!/Documents
/Documents/*
!/Documents/Arduino
/Documents/Arduino/*
!/Documents/Arduino/Model01-Firmware

!/.hammerspoon

!/.dotfiles-src

!/.config/dtrace

!/bin
/bin/*
!/bin/_git
!/bin/_git/*

!/Library
/Library/*
!/Library/LaunchAgents
/Library/LaunchAgents/*
!/Library/LaunchAgents/me.libbey.burke.*.plist

!/Library/Preferences
/Library/Preferences/*
!/Library/Preferences/com.googlecode.iterm2.plist
