/*

!/.gitignore
!/.gitconfig

!/.mutt
/.mutt/*
!/.mutt/*muttrc
!/.msmtprc
!/.notmuch-config
!/.mutt/Equifax_Secure_CA.cert
!/.mutt/mailcap
!/.mutt/view_attachment.sh
!/.mbsyncrc
!/.urlview

!/.setup
!/.setup/*

!/.hammerspoon

!/.agignore

!/.dotfiles-src

!/.config
/.config/*
!/.config/fish
/.config/fish/fish_history
/.config/fish/config.fish.tmp
/.config/fish/fishd.*
!/.config/dtrace
!/.config/jellybeans.itermcolors

!/.ssh
/.ssh/*
!/.ssh/ca-certificates.crt
!/.ssh/config

!/.vim
/.vim/*
!/.vim/autoload
!/.vim/autoload/pathogen.vim
!/.vim/backup
/.vim/backup/*
!/.vim/backup/.gitkeep
!/.vim/update
!/.vim/plugin_list
!/.vimrc
!/.gvimrc

!/.zshrc
!/.zshrc.d

!/.gnupg
/.gnupg/*
!/.gnupg/gpg-agent.conf

!/bin
/bin/*
!/bin/_git
!/bin/_git/*
/bin/_git/,*
!/bin/_git/,

!/.sshrc
!/.sshrc.d

!/.gemrc

!/Library
/Library/*
!/Library/LaunchAgents
/Library/LaunchAgents/*
!/Library/LaunchAgents/me.libbey.burke.*.plist

!/Library/Application Support
/Library/Application Support/*
!/Library/Application Support/Alfred 3
/Library/Application Support/Alfred 3/*
!/Library/Application Support/Alfred 3/Alfred.alfredpreferences
/Library/Application Support/Alfred 3/Alfred.alfredpreferences/*
!/Library/Application Support/Alfred 3/Alfred.alfredpreferences/workflows


!/.tmux.conf

!/.crawlrc
