/*

!/.profile

!/.gitignore
!/.gitconfig

!/.terminfo

!/.spacemacs

!/.mutt
/.mutt/*
!/.mutt/*muttrc
!/.mutt/colors.sh
!/.msmtprc
!/.notmuch-config
!/.mutt/Equifax_Secure_CA.cert
!/.mutt/mailcap
!/.mutt/view_attachment.sh
!/.mbsyncrc
!/.urlview

!/.hammerspoon

!/.agignore

!/.dotfiles-src

!/.config
/.config/*

!/.config/task
!/.config/dtrace
!/.config/git
!/.config/shell
!/.config/jellybeans.itermcolors

!/.config/fish
/.config/fish/fish_history
/.config/fish/config.fish.tmp
/.config/fish/fishd.*

!/.config/nvim
/.config/nvim/*
!/.config/nvim/autoload
!/.config/nvim/autoload/pathogen.vim
!/.config/nvim/update
!/.config/nvim/init.vim
!/.config/nvim/plugin_list

!/.ssh
/.ssh/*
!/.ssh/ca-certificates.crt
!/.ssh/config

!/.zshrc
!/.zshrc.d

!/.gnupg
/.gnupg/*
!/.gnupg/gpg-agent.conf

!/bin
/bin/*
!/bin/_git
!/bin/_git/*
/bin/_git/,*
!/bin/_git/,

!/.sshrc
!/.sshrc.d

!/.gemrc

!/Library
/Library/*
!/Library/LaunchAgents
/Library/LaunchAgents/*
!/Library/LaunchAgents/me.libbey.burke.*.plist

!/Library/Application Support
/Library/Application Support/*
!/Library/Application Support/Alfred 3
/Library/Application Support/Alfred 3/*
!/Library/Application Support/Alfred 3/Alfred.alfredpreferences
/Library/Application Support/Alfred 3/Alfred.alfredpreferences/*
!/Library/Application Support/Alfred 3/Alfred.alfredpreferences/workflows

!/Library/Preferences
/Library/Preferences/*
!/Library/Preferences/com.googlecode.iterm2.plist

!/.tmux.conf
!/.tmux-osx.conf
!/.tmux-light.conf

!/.crawlrc
